* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  transition: background 0.8s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}


/* Padrão */
.app-default {
  background-image: url('assets/gifs/sunny/clouds GIF - Find & Share on GIPHY.gif');
}

/* Ensolarado */
.app-sunny {
  background-image: url('assets/gifs/sunny/clouds GIF - Find & Share on GIPHY.gif');
}

/* Nublado */
.app-cloudy {
  background-image: url('assets/gifs/cloudy/transferir.jpg');
}

/* Chuvoso */
.app-rainy {
  background-image: url('assets/gifs/rainy/transferir.gif');
}

/* Tempestade */
.app-storm {
  background-image: url('assets/gifs/storm/transferir.gif');

}

/* Neve */
.app-snow {
  background-image: url("assets/gifs/snow/Cyn's snowfall.gif");
}

.weather-section {
  background: rgba(199, 196, 196, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Termina na posição original */
  }
}

.forecast-container {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}


.forecast-card {
  max-width: 200px;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: slideDownFade 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  opacity: 0;
}

@keyframes slideUpFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.forecast-card.exiting {
  animation: slideUpFadeOut 0.5s cubic-bezier(0.16, 1, 0.9, 1) forwards;
}

.hourly-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hourly-scroll {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.hourly-scroll::-webkit-scrollbar {
  height: 6px;
}

.hourly-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.hourly-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.hourly-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.hour-time {
  font-size: 0.9rem;
  margin-bottom: 5px;
  opacity: 0.9;
}

.hour-temp {
  font-weight: bold;
  font-size: 1.1rem;
}